# Compiled Object files
*.slo
*.lo
*.o
*.plo
*.po
*.Po

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

config.status
config.log
libtool


# http://www.gnu.org/software/automake

Makefile
Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

pdftoxml

xpdf-3.02/xpdf/pdfimages
xpdf-3.02/xpdf/pdffonts
xpdf-3.02/xpdf/pdfinfo
xpdf-3.02/xpdf/pdftops
xpdf-3.02/xpdf/pdftotext


example/junk

xpdf-3.02/xpdf/pdfimages

xpdf-3.02/xpdf/pdfinfo

xpdf-3.02/xpdf/pdftops

xpdf-3.02/xpdf/pdftops

xpdf-3.02/xpdf/pdftotext

xpdf-3.02/xpdf/pdffonts

xpdf-3.02/xpdf/pdffonts
